<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
<!--ProjectGuid: {B2F13A7E-8A41-4F4B-8D18-54904D11032F}-->
<!--ProjectGuid: {B9542D33-23FE-40D2-917A-AFC02C5CC55A}-->